{% extends 'base.html'%}
{% block title %}Not found{% endblock %}
{% block content %}

<h2>The page you are looking for does not exist :(</h2>
<p>Links you might be interested in:</p>
<ul>
    <li>
        <a href="/inbox">Inbox</a>
    </li>
    <li>
        <a href="/sent">Sent emails</a>
    </li>
    <li>
        <a href="/compose">Compose</a>
    </li>
    <li>
        <a href="/">About</a>
    </li>
    <li>
        <a href="//github.com/sortalost/mxal">GitHub</a>
    </li>
    <li>
        <a href="/view/inbox/god">God (real)</a>
    </li>
</ul>
<hr>
<p>
    <small>
        If you think this is an error, 
        let <a href="//sortalost.is-a.dev/contact" target="_blank">me</a> know how it happened.
    </small>
</p>
<p><small>Path: {{request.path}}</small></p>
{% endblock %}