{% extends "base.html" %}
{% block title %}Compose{% endblock %}
{% block content %}
<div class="compose-card">
  <form method="post" enctype="multipart/form-data" class="compose-form needs-validation" novalidate>
    <div class="field">
      <label for="to">To</label>
      <input id="to" name="to" type="text" value="{{ request.args.get('reply_to', '') }}">
    </div>
    <div class="field">
      <label for="subject">Subject</label>
      <input id="subject" name="subject" type="text" value="{{ request.args.get('subject', '') }}">
    </div>
    <div class="field">
      <label for="body">Message</label>
      <textarea id="body" name="body" style="height:30vh"></textarea>
    </div>
    <div class="field actions-row">
      <label class="file-label">
        Attachment (<mark>not implemented</mark>)
        <input type="file" name="attachment" multiple>
      </label>
      <div class="spacer"></div>
      <button type="submit" class="btn primary">Send</button>
    </div>
  </form>
</div>
{% endblock %}
