{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div>
    {% if session.get('logged_in') %}
        <p>You are logged in.</p>
        <hr>
    {% endif %}
    <h2>What?</h2>
    <p>Basic web email client for <a href="//cock.li" target="_blank">cock.li</a>.</p>
    <h2>Why?</h2>
    <p>Because <a href="//mail.cock.li" target="_blank">their</a> web client is offline due to a Roundcube <a href="https://cock.li/log.txt">vulnerability</a>, and I love cock.li.</p>
    <br>
    <hr>
    <br>
    <h3>GitHub</h3>
    <p>Source on <a href="//github.com/sortalost/mxal">GitHub</a>.</p>
    <p>Directly deployed to vercel from GitHub.</p>
    <p>Last updated on {{commit.date}}, ie, <span id="ago" data-timestamp="{{ commit.timestamp }}"></span>.</p>
    <p>Commit {{commit.sha}}: {{commit.message}}</p>
    <p>See commit <a href="{{commit.url}}" target="_blank">here</a>.</p>
    <br>
    <hr>
    <br>
    <h3>more...</h3>
    <p>Not affiliated with them.</p>
    <p>Whats "MXAL"? I don't know. It was an available subdomain, probably thats why.</p>
    <br>
</div>

{% endblock %}