{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}

<div>
    {% if session.get('logged_in') %}
        <p>You are logged in.</p>
        <hr>
    {% endif %}
    <h2>What?</h2>
    <p>Basic web email client for <a href="//cock.li" target="_blank">cock.li</a>.</p>
    <h2>Why?</h2>
    <p>Because <a href="//mail.cock.li" target="_blank">their</a> web client is offline due to a Roundcube <a href="https://cock.li/log.txt">vulnerability</a>.</p>
    <h2>How?</h2>
    <p>Login using your cock.li credentials (You must have an account, new accounts cannot be created).</p>
    <h2>more...</h2>
    <p>Not affiliated with them.</p>
    <p>Open sourced on <a href="//github.com/sortalost/mxal">GitHub</a>.</p>
    <p>Why name "MXAL"? I don't know, I cannot think of anything else.</p>
</div>

{% endblock %}